<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>462056060686-sud3busgh2jt0g3g0h16bco7o9rp0q26.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.462056060686-sud3busgh2jt0g3g0h16bco7o9rp0q26</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>462056060686-ead23bee15tkutndh5bl4q5701h686vh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAL-_zUsIZjCvj7MDWEKQOMZ2DOoVBGIgo</string>
	<key>GCM_SENDER_ID</key>
	<string>462056060686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zdem.encrypto</string>
	<key>PROJECT_ID</key>
	<string>sharecrypt-a8fd3</string>
	<key>STORAGE_BUCKET</key>
	<string>sharecrypt-a8fd3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462056060686:ios:93a7af1212c95daae4895f</string>
</dict>
</plist>